@page "/import/{calendarId}"
@rendermode InteractiveServer

@inject IFileService FileService;

<h3>Excel Input</h3>

<form @onsubmit="HandleFile">
    <InputFile OnChange="LoadFile" />
    <button type="submit" disabled="@isLoading" class="btn btn-primary">
        <MudIcon Icon="@Icons.Material.Filled.Upload" Margin="Margin.Right"></MudIcon>
        @if (isLoading)
        {
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
        }
    </button>
</form>

<a href="templates/template.xlsx" download>Download template</a>


@if (!string.IsNullOrEmpty(errorMessage))
{
    <p>@errorMessage</p>
}

@code {
    [Parameter]
    public string calendarId { get; set; }

    private IBrowserFile file;
    private string errorMessage;
    private bool isLoading = false;

    private void LoadFile(InputFileChangeEventArgs e)
    {
        file = e.File;
    }

    private async Task HandleFile()
    {
        isLoading = true;
        if (file == null)
        {
            errorMessage = "Selecteer een bestand";
            return;
        }
        var extension = Path.GetExtension(file.Name);

        if (!(extension.Equals(".xlsx", StringComparison.OrdinalIgnoreCase) || (extension.Equals(".xls", StringComparison.OrdinalIgnoreCase))))
        {
            errorMessage = "Upload een excel bestand!";
            return;
        }

        if (file != null)
        {
            using var stream = file.OpenReadStream();
            isLoading = true;

            errorMessage = await FileService.ImportUsers(stream, Guid.Parse(calendarId));
            isLoading = false;
        }
        isLoading = false;
    }
}

