@rendermode InteractiveServer

@inject ICalendarService CalendarService

<div id="calendar-creator">
    @if (Calendar != null)
    {
        <CalendarForm Calendar="Calendar" FormHandler="FormHandler" UpdateStartDate="UpdateStartDate" UpdateEndDate="UpdateEndDate" AddExtraDay="AddExtraDay" />
        <div>
            <h3>Aangeduide data</h3>
            <ul id="date-list">
                @foreach (var day in Calendar.Days)
                {
                    if (day.IsOpen)
                    {
                        <DateItem day="@day" RemoveDay="@RemoveClosedDay" />
                    }
                }
            </ul>
        </div>
    }
    else
    {
        <p>Geen kalender gevonden.</p>
    }
</div>

@code {
    [Parameter]
    public CalenderViewModel Calendar { get; set; }

    [Parameter]
    public Func<Task> FormHandler { get; set; }

    private void SetDays()
    {
        var allDays = Enumerable.Range(0, (Calendar.End - Calendar.Start).Days + 2)
                                .Select(offset => Calendar.Start.AddDays(offset));
        foreach (var day in allDays)
        {
            if (!Calendar.Days.Any(d => d.Date == day))
            {
                Calendar.Days.Add(new Day()
                {
                    Id = Guid.NewGuid(),
                    Date = day,
                    IsOpen = day.DayOfWeek == DayOfWeek.Saturday || day.DayOfWeek == DayOfWeek.Sunday,
                    Name = day.DayOfWeek.ToString(),
                    CalendarId = Calendar.Id,
                    DayPeriods = new List<DayPeriod>(),
                    Preferences = new List<Preference>()
                });
            }
        }
        FillDayPeriods();
        Calendar.Days = Calendar.Days.Where(d => d.Date.Date >= Calendar.Start.Date && d.Date.Date <= Calendar.End.Date).OrderBy(d => d.Date).ToList();
    }

    private void FillDayPeriods()
    {
        foreach (var date in Calendar.Days)
        {
            if (date.DayPeriods.Count == 0)
            {
                date.DayPeriods = new List<DayPeriod>()
				{
					new DayPeriod
					{
						Id = Guid.NewGuid(),
						DayId = date.Id,
						Start = DateTime.Parse("08:30"),
						End = DateTime.Parse("13:00"),
						Name = "A",
                        IsOpen = date.IsOpen,
						Jobs = new List<Job>(),
						Preferences = new List<Preference>()
					},
					new DayPeriod
					{
						Id = Guid.NewGuid(),
						DayId = date.Id,
						Start = DateTime.Parse("13:00"),
						End = DateTime.Parse("17:30"),
						Name = "B",
                        IsOpen = date.IsOpen,
						Jobs = new List<Job>(),
						Preferences = new List<Preference>()
					},
					new DayPeriod
					{
						Id = Guid.NewGuid(),
						DayId = date.Id,
						Start = DateTime.Parse("17:30"),
						End = DateTime.Parse("23:00"),
						Name = "C",
                        IsOpen = date.IsOpen,
						Jobs = new List<Job>(),
						Preferences = new List<Preference>()
					}
				};
                foreach (var period in date.DayPeriods)
                {
                    if (period.Name == "A" || period.Name == "B")
                    {
                        period.Jobs = new Job[] { new Job { Name = "Lierist", Experience = 1, Weight = 5, PermissionName = "Lierist" },
								   new Job { Name = "Startofficier", Experience = 1, Weight = 5, PermissionName = "Startofficier" },
								   new Job { Name = "Instructeur", Experience = 1, Weight = 5, PermissionName = "Instructeur" },
								   new Job { Name = "Instructeur (DDI)", Experience = 1, Weight = 5, PermissionName = "Instructeur" } 
                        };
                    }
                    else if (period.Name == "C")
                    {
                        period.Jobs = new Job[] { new Job { Name = "Bardienst", Experience = 1, Weight = 5, PermissionName = "Bar" }};
                    }
                }
            }
        }
    }

    private void UpdateStartDate(ChangeEventArgs e)
    {
        if (DateTime.TryParse(e.Value.ToString(), out DateTime startDate) && startDate <= Calendar.End)
		{
			Calendar.Start = startDate;
			SetDays();
		}
    }

    private void UpdateEndDate(ChangeEventArgs e)
    {
        if(DateTime.TryParse(e.Value.ToString(), out DateTime endDate) && endDate >= Calendar.Start)
		{
			Calendar.End = endDate;
			SetDays();
		}
    }

    private void RemoveClosedDay(Day closedDay)
    {
        var dayToRemove = Calendar.Days.FirstOrDefault(day => day.Equals(closedDay));
        if (dayToRemove != null)
        {
            closedDay.DayPeriods.Clear();
            Calendar.Days.Remove(dayToRemove);
            closedDay.IsOpen = false;
            Calendar.Days.Add(closedDay);
            Calendar.Days = Calendar.Days.OrderBy(d => d.Date).ToList();
            StateHasChanged();
        }
    }

    private void AddExtraDay(DateTime dateToAdd)
    {
        if (dateToAdd < Calendar.Start || dateToAdd > Calendar.End)
        {
            return;
        }
        var day = Calendar.Days.FirstOrDefault(d => d.Date.Date == dateToAdd.Date);
        if (!day.IsOpen)
        {
            var dayCopy = new Day()
            {
                Id = day.Id,
                Date = day.Date,
                IsOpen = true,
                Name = day.Name,
                CalendarId = day.CalendarId,
                DayPeriods = new List<DayPeriod>(),
                Preferences = new List<Preference>()
            };
            Calendar.Days.Remove(day);
            Calendar.Days.Add(dayCopy);
        }
        else
		{
			return;
		}
        FillDayPeriods();
        Calendar.Days = Calendar.Days.OrderBy(d => d.Date).ToList();
        StateHasChanged();
    }
}