@using Ezac.Roster.Domain.Entities

<form @onsubmit="FormHandler">
    <div class="form-group">
        <label for="calendarName">Kalender naam</label>
        <input type="text" class="form-control" id="calendarName" placeholder="Kalender naam" required @bind-value="Calendar.Name">
    </div>
    <div class="form-group">
        <label for="startDate">Start datum</label>
        <input type="date" class="form-control" id="startDate" required value="@Calendar.Start.ToString("yyyy-MM-dd")" @onchange="UpdateStartDate">
    </div>
    <div class="form-group">
        <label for="endDate">Eind datum</label>
        <input type="date" class="form-control" id="endDate" required value="@Calendar.End.ToString("yyyy-MM-dd")" @onchange="UpdateEndDate">
    </div>
    <div>
        <div class="form-group">
            <label for="extraDays">Extra dagen beschikbaar zetten</label>
            <input type="date" class="form-control" id="extraDays" @bind="dateToAdd" />
            <button type="button" class="btn btn-primary" @onclick="(e) => HandleClick(e)">Voeg toe</button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="ModifyCalendar" disabled="@isButtonDisabled">Bewerk kalender</button>
</form>

@code {
    [Parameter]
    public ApplicationCalendar Calendar { get; set; }

    [Parameter]
    public Func<Task> FormHandler { get; set; }

    [Parameter]
    public Action<ChangeEventArgs> UpdateStartDate { get; set; }

    [Parameter]
    public Action<ChangeEventArgs> UpdateEndDate { get; set; }

    [Parameter]
    public Action<DateTime> AddExtraDay { get; set; }

    private DateTime dateToAdd { get; set; }

    protected override void OnInitialized()
    {
        dateToAdd = DateTime.Now;
    }

    private void HandleClick(MouseEventArgs e)
    {
        AddExtraDay(dateToAdd);
    }

    private bool isButtonDisabled = false;

    private void ModifyCalendar()
    {
        isButtonDisabled = true;
    }
}
