@using Ezac.Roster.Domain.Interfaces.Services

@inject ICalendarService CalendarService

@rendermode InteractiveServer

<form>
	<div class="form-group">
		<label for="calendarName">Kalender naam</label>
		<input type="text" class="form-control" id="calendarName" placeholder="Kalender naam">
	</div>
	<div class="form-group">
		<label for="startDate">Start datum</label>
		<input type="date" class="form-control" id="startDate">
	</div>
	<div class="form-group">
		<label for="endDate">Eind datum</label>
		<input type="date" class="form-control" id="endDate">
	</div>
	<div>
		<div class="form-group">
			<label for="extraDays">Extra dagen beschikbaar zetten</label>
			<input type="date" class="form-control" id="extraDays"/>
			<button type="button" class="btn btn-primary">Voeg toe</button>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Creeer kalender</button>
</form>

<div>
	<h3>Aangeduide data</h3>
	<ul>
		<DateItem/>
	</ul>
</div>

@code {

}
